<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        {{#if lang_en}}
        <p>Hi {{user}},</p>
        <p>Your password has been changed successfully!</p>
        {{/if}}
        {{#if lang_fr}}
        <p>Bonjour {{user}},</p>
        <p>Votre mot de passe a été modifié avec succès !</p>
        {{/if}}
    </body>
</html>